{% extends "base.html" %}

{% block content %}


<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="ex1-tab-1"
        data-mdb-toggle="tab"
        href="#ex1-tabs-1"
        role="tab"
        aria-controls="ex1-tabs-1"
        aria-selected="true"
        >Badges</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="ex1-tab-2"
        data-mdb-toggle="tab"
        href="#ex1-tabs-2"
        role="tab"
        aria-controls="ex1-tabs-2"
        aria-selected="false"
        >Achievements</a
      >
    </li>
   
  </ul>

  <div class="tab-content" id="ex1-content">
    <div
      class="tab-pane fade show active"
      id="ex1-tabs-1"
      role="tabpanel"
      aria-labelledby="ex1-tab-1"
    >
    
    <div class="container py-5">
        <div class="row">
          <form action="{{ url_for('badge') }}" method="post"  class="was-validated">
          <div class="col-6 col-md-4">
  
           
          </div>
          <div class="col-6 col-md-8">
            <div class="input-group">
              <input name = "search" type="text" id= "search" class="form-control" placeholder="Search">
              
                <input type="submit" value="search" class="btn btn-lg btn-secondary w-30">
  
            </div>
          </div>
        </form>
        </div>
        <table class="table table-striped">
          <thead class="table-dark">
            <tr>
              <th>Badge Id</th>
              <th>BadgeTitle</th>
              <th>BadgeDes</th>
              <th>BadgeOwner</th>
            </tr>
          </thead>
          <tbody>
            {% for badge in b %}
            <tr>
              <th>{{badge['BID']}}</th>
              <th>{{badge['Title']}}</th>
              <th>{{badge['Description']}}</th>
            
              <th>{{badge['Username']}}</th>
  
            </tr>
         
            {% endfor %}
          </tbody>
        </table>
      </div>
      
    </div>
    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
      Tab 2 content
    </div>
   
  </div>
{% endblock %}