{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('create') }}" method="post"  class="was-validated">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-6">
          <h1 class="display-6 my-5 fontnice">Create Room</h1>
          {% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger" role="alert">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
</div>    
{% endif %}
{% endwith %}
          <form>
            <div class="form-floating mb-4">
              <!--Create a textbox for Room COde. Validation is set to required. -->
              <input type="text" class="form-control" name="id" placeholder="id" id="id" required>
              <label for="username">Room Passcode</label>
            </div>
            <div class="form-floating mb-4">
              <!--Create a password field for password. Validation is set to required. -->
         <h5 class = "fontnice">Max number of Players:</h5><br>
              <input type="number" value="1" min="1" max="10" step="1" id="num" name = "num" required>
     

              <!-- Display error messages if any e.g. invalid user. -->
              <div class="invalid-feedback">
                {{ msg }}
              </div>
            </div>
            <div class="row my-5">
              <div class="col">
                <!--Create a Login button of type submit. -->
                <input type="submit" value="Create" class="btn btn-lg btn-primary w-75">
              </div>
              
              </div>
              <!--Link to register if user does not have an account. -->
             
            </div>
            
          </form>
        </div>
      </div>
    </div>
    </form>
   
{% endblock %}