{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <div class="row">
      <form action="{{ url_for('leaderboard') }}" method="post"  class="was-validated">
      <div class="col-6 col-md-4">

        <select class="form-select" id = "category" name = "category">
          {% for field in fields %}
          <option value = "{{field}}">Order by {{field}}</option>

          {% endfor %}
        </select> 
      </div>
      <div class="col-6 col-md-8">
        <div class="input-group">
          <input name = "search" type="text" id= "search" class="form-control" placeholder="Search">
          
            <input type="submit" value="search" class="btn btn-lg btn-secondary w-30">

        </div>
      </div>
    </form>
    </div>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Username</th>
          <th>Level</th>
          <th>Points</th>
          <th>Elo</th>
        </tr>
      </thead>
      <tbody>
        {% for u in user %}
        <tr>
          <th>{{u['UserName']}}</th>
          <th>{{u['LVL']}}</th>
          <th>{{u['Points']}}</th>
        
          <th>{{u["Elo"]}}</th>

        </tr>
     
        {% endfor %}
      </tbody>
    </table>
  </div>
  

{% endblock %}